* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Montserrat", sans-serif;
}
body {
  background: #EAEAEA;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
  background-image: url("https://www.transparenttextures.com/patterns/batthern.png");
  background-image: url("https://www.transparenttextures.com/patterns/cartographer.png");
  padding: 0 16px;
  font-family: 'Golos Text', sans-serif;
  color: #393E46;
}

body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

body::-webkit-scrollbar
{
	width: 8px;
	background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

/* createcard style*/
form.create-note {
  position: relative;
  width: 370px;
  margin: 30px auto 20px auto;
  background: #fff;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}
form.create-note input,
form.create-note textarea {
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-family: inherit;
  resize: none;
}
form.create-note input {
  margin-bottom: 16px;
  font-size: 1.5em;
  color: rgb(175, 79, 79);
}
form.create-note textarea {
  color: rgb(73, 77, 77);
  font-size: 1.2em;
}
form.create-note button {
  position: absolute;
  right: 18px;
  bottom: -28px;
  background: #f5ba13;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 56px;
  height: 56px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
}
.image-upload {
  width: 100%;
  height: 250px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #d3d3d3;
  position: relative;
  background-color: #e6e6e6;
}
.icon-wrapper {
  text-align: center;
  cursor: pointer;
  z-index: 1;
  color: #d7a314;
}
.uploaded-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

/* card style */

.card {
  width: 350px;
  background: #fff;
  padding: 14px;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  margin: 50px 30px;
  float: left;
  box-shadow: 1px 1px 2px 1px gray;
}
.card-header {
  display: flex;
  justify-content: space-between;
  margin: 6px auto
}
.options-icon {
  color:rgb(133, 133, 133);
  margin-right: -43px;
}
.card-title, .card-description {
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-family: inherit;
  resize: none;
  margin-bottom: 10px;
}
.card-options {
  flex: 0 0 auto;
  margin:0;
}
.card-title {
  flex: 1;
  font-size: 1.3em;
  font-weight: 600;
  color: rgb(72, 63, 63);
  padding-top: 10px;
}
.card-description {
  color: rgb(90, 74, 61);
  font-size: 1.2em;
  margin-bottom: 25px;
}
.card-img {
  margin: 4px;
  width: 100%;
  height: 250px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e6e6e6;
  border: 1px double rgb(171, 170, 170);
  border-radius: 10px;
  margin-bottom: 10px;
}